/* Universal Styling Starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #2c3e50;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ffffff;
}
/* Universal Styling Ends */

/* Header Styling Starts */
header h1 {
    text-align: center;
    color: midnightblue;
    padding: 20px 0px;
}

header h1 span {
    color: #e74c3c;
}
/* Header Styling Ends */

/* Navigation Styling Starts */
.nav-menu {
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;
}

.nav-menu li {
    padding: 20px;
}

.nav-menu a {
    color: #2c3e50;
    transition: all 0.5s ease-in-out;
}

.nav-menu a:hover {
    color: #e74c3c;
}
/* Navigation Styling Ends */

/* About Styling Starts */
.about-text {
    padding: 0px 50px;
}

.about-text h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    color: #e74c3c;
    margin: 25px 0px;
}

.about-text p {
    font-weight: 400;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: justify;
}

.about-text a {
    color: #e74c3c;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}

.about-text a:hover {
    color: #2c3e50;
}
/* About Styling Ends */

/* Food Styling Starts */
.show-food {
    margin-top: 75px;
    padding: 0px 50px;
}

.food {
    background-color: #2c3e50;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    color: #ffffff;
}

.food:nth-child(2) {
    background-color: #e74c3c;
}

.food .food-text {
    padding: 20px;
}

.food img {
    height: 100%;
}

.food h2 {
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.food p {
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
}
/* Food Styling Ends */

/* Big Image Styling Starts */
.big-image {
    width: 80%;
    margin: auto;
}

.big-image img {
    width: 100%;
}
/* Big Image Styling Ends */

/* Footer Styling Starts */
footer {
    background-color: #e74c3c;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    padding: 25px;
    font-size: 20px;
}
/* Footer Styling Ends */
